.diffContainer {
  margin-top: 32px;
  border: 1px solid rgb(232, 232, 232);
  border-radius: 3px;
}

.hunkContent {
  background-color: #f1f8ff;
  margin-left: 30px;
  padding-left: 4px;
  color: #1b1f23b3;
}