.diffHeader {
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier,
    monospace;
  font-size: 12px;
  color: rgb(36, 41, 46);
  line-height: 32px;

  padding: 5px 10px;
  background-color: rgb(250, 251, 252);
  border-bottom: 1px solid rgb(225, 228, 232);
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}