@tailwind base;
@tailwind utilities;
@tailwind components;

svg {
  vertical-align: initial;
}

body[data-theme="light"] {
  --diff-background-color: #f8f9fa;
  --diff-text-color: #000;
  --diff-selection-background-color: #b3d7ff;
  --diff-gutter-insert-background-color: #ddf3e4;
  --diff-gutter-insert-text-color: #18794e;
  --diff-gutter-delete-background-color: #fadde0;
  --diff-gutter-delete-text-color: #cd2b31;
  --diff-code-insert-background-color: #f2fcf5;
  --diff-code-insert-text-color: #18794e;
  --diff-code-delete-background-color: #fff8f8;
  --diff-code-delete-text-color: #cd2b31;
  --diff-code-insert-edit-background-color: #acf2bd;
  --diff-code-delete-edit-background-color: #f39ea2;
  --diff-code-selected-background-color: #fffce0;
  --diff-omit-background-color: #fafbfc;
  --diff-decoration-gutter-background-color: #f2f8ff;
  --diff-decoration-gutter-color: #999;
  --diff-decoration-content-background-color: #f2f8ff;
  --diff-decoration-content-color: #999;
  --diff-omit-gutter-line-color: transparent;

  --diff-gutter-background-color: #f1f3f5;
  --diff-gutter-text-color: #7e868c;
}

body[data-theme="dark"] {
  --diff-background-color: #151718;
  --diff-text-color: #c5c8c6;
  --diff-selection-background-color: #5a5f80;
  --diff-gutter-insert-background-color: #113123;
  --diff-gutter-insert-text-color: #4cc38a;
  --diff-gutter-delete-background-color: #481a1d;
  --diff-gutter-delete-text-color: #ff6369;
  --diff-code-insert-background-color: #0c1f17;
  --diff-code-insert-text-color: #4cc38a;
  --diff-code-delete-background-color: #291415;
  --diff-code-delete-text-color: #ff6369;
  --diff-code-insert-edit-background-color: rgba(70, 149, 74, 0.4);
  --diff-code-delete-edit-background-color: rgba(255, 51, 51, 0.4);
  --diff-code-selected-background-color: #5a5f80;
  --diff-omit-background-color: #101120;
  --diff-decoration-gutter-background-color: #222;
  --diff-decoration-gutter-color: #ababab;
  --diff-decoration-content-background-color: rgb(32, 48, 67);
  --diff-decoration-content-color: #768390;
  --diff-omit-gutter-line-color: transparent;

  --diff-gutter-background-color: #202425;
  --diff-gutter-text-color: #787f85;
}

.diff-gutter-col {
  color: var(--diff-gutter-text-color);
  background-color: var(--diff-gutter-background-color);
  width: 30px !important;
}

.diff {
  background-color: var(--diff-background-color);
  color: var(--diff-text-color);
  tab-size: 4;
  hyphens: none;
}

.diff::selection {
  background-color: var(--diff-selection-background-color);
}

.diff-decoration {
  line-height: 2;
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier,
    monospace;
}

.diff-decoration-content {
  background-color: #f2f8ff;
  padding-left: 0.5em;
  color: #999;
}

.diff-gutter-insert {
  background-color: var(--diff-gutter-insert-background-color);
  color: var(--diff-gutter-insert-text-color) !important;
}

.diff-gutter-delete {
  background-color: var(--diff-gutter-delete-background-color);
  color: var(--diff-gutter-delete-text-color) !important;
}

.diff-gutter-normal {
  color: #7e868c;
}

.diff-code-insert {
  background-color: var(--diff-code-insert-background-color);
  color: var(--diff-code-insert-text-color);
}

.diff-code-edit {
  display: inline-block;
  color: inherit;
}

.diff-code-insert .diff-code-edit {
  background-color: var(--diff-code-insert-edit-background-color);
}

.diff-code-delete {
  background-color: var(--diff-code-delete-background-color);
  color: var(--diff-code-delete-text-color);
}

.diff-code-delete .diff-code-edit {
  background-color: var(--diff-code-delete-edit-background-color);
}

.diff-code-selected {
  background-color: var(--diff-code-selected-background-color);
}

.diff-decoration-gutter {
  background-color: var(--diff-decoration-gutter-background-color);
  color: var(--diff-decoration-gutter-color);
}

.diff-decoration-content {
  background-color: var(--diff-decoration-content-background-color);
  color: var(--diff-decoration-content-color);
}

.diff-gutter-omit:before {
  width: 0;
}

.diff-gutter {
  padding: 0;
  font-size: 13px;
  text-align: center;
  cursor: auto;
}

.diff-code {
  font-size: 13px;
}
